.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95vh;
  gap: 107px;
}

.row {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.cardRow {
  display: flex;
  justify-content: center;
  gap: 131px;
}

.input {
  margin-bottom: 7px;
}

.output {
  composes: input;
}
